h1{
    font-family: 'Courier New', Courier, monospace;
    size: 20px;
    text-align:center;
    color: #FFB734;
}

.box{
    border: 1px solid black;
    height: 500px;
    width: 600px;
    padding: 5px;
    float: right;
    max-width: 100%;
    height: auto;
}

.image1{
    width : 800px;
    height: 500px;
    height: auto;
    border: 1px solid black;
    max-width: 100%;
    float: left;
}

h2{
    size: 5px;
}

.box2{
    border: 1px solid black;
    height: 500px;
    width: 600px;
    padding: 5px;
    float: left;
    max-width: 100%;
    height: auto;
}