@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, white,  #FFB734);
    min-height: 1000px;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #563838;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
    z-index: 2;
}

header .scroll
{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 1s;
    text-decoration: none;
    z-index: 1;
    width: 10%;
}

header.sticky .scroll{
    opacity: 0;
}
header.sticky
{
    height: 80px;
}
header.sticky .banner
{
    opacity: 0;
}
header .banner
{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    
}
header h1
{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left:27%;
    color: #563838;
    font-family: 'Source Sans Pro';
}

header.sticky h1
{
    opacity: 0;
}

header .logo
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15vw;
    height: 80px;
    transition: 1s;
    text-decoration: none;
    z-index: 1;
    color: black;
    font-family: 'Source Sans Pro';
}

header.sticky .logo
{
    position: absolute;
    font-size: 2em;
    left: 30px;
    height: 25px;
    transform: translate(0,-50%);
    color: #fff;
}

nav{
    position: relative;
    display: flex;
    font-family: 'Source Sans Pro';
    z-index: 1;
}

nav ul 
{
    position: relative;
    display: flex;
    transition: 0.25s;
    transform: translateX(100px);
    opacity: 0;

}
header.sticky nav ul{
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.75s;
}


nav ul li
{
    list-style: none;
}

nav ul li a 
{
    color: #fff;
    display: inline-block;
    padding:  10px 15px;
    font-size: 1.2em;
    text-decoration: none;

}

nav ul li a:hover
{
    color: #2B387B;
    text-decoration-line: underline;
    transition: 1s;
}

section
{
    margin-top: 50vh;
    padding: 100px;
}
section h2
{
    font-size: 3em;
}

section p 
{
 font-size: 1.2em;   
}

section .imagetest
{
    float: left;
    width: 300px;
    height: 500px;
}
section .imagetest2
{
    float: right;
    width: 300px;
}

section article
{
    margin-top: 40px;
}

footer
{
    width: 100%;
    height: 230px;
}

footer .fcomte
{
    margin-top: 70px;
    width: 25%;
}
footer p
{
    margin-left: 50%;
}

/* .premiere-div
{
    background-size: 100%;
    margin-top: 75vh;
    display: flex;
    width: 100%;
    height: 400px;
    padding:0 10px 10px 0;
}
.premiere-div .t
{
    margin-left: 10%;
    margin-top: 50px;
    width: 30%;
    height: 70%;
}

.premiere-div .t .imagetest
{
    height: 100%;
    width: 100%;
}


.premiere-div .tt
{
    box-shadow: -3px -10px 10px #FFB734 , 3px 10px 10px #FFB734;
    padding:10px;
    margin-left: 10%;
    margin-right: 100px;
    width: 70%;
    height: 70%;
    margin-top: 50px;
    font-size: large;
} */


.ecart
{
    margin-top: 30vh;
    width: 100%;
    height: 200px;
}
.paragraphe1
{

    width: 100%;
    height: 300px;
}
.ecart1
{
    width: 100%;
    height: 100px;
}
.paragraphe2
{

    height: 500px;
    padding-bottom: 10px;
}

.ecart2
{
    width: 100%;
    height: 100px;
}

.paragraphe3
{
    width: 100%;
    height: 300px;
}


.video
{
    position: absolute;
    top: 184%;
    left: 74%;
    width: 22%;
}

.texte1{
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 0px; /*placer un écarttexte/image */
    /* max-width: 300px;
    margin-left: 1200px; /*position un texte/image */
    /* margin-top: 5%; */ 
    margin-top: 0px;
    flex-direction: column;
    margin-left: 20px;
    width: 55%;
    text-align:justify;
    padding: 2%;
    box-shadow:8px 8px 2px rgba(0,0,0,0.5);
    border-radius: 30px;
    flex:2;
    
}

.img1 {
    display: flex;
    flex-wrap: wrap;
    margin-right: 100px;
    display: inline-block; 
    width: 20%;
    float: right;   
    border-radius: 30px;
    box-shadow:8px 8px 2px rgba(0,0,0,0.5);
}

.texte2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin-right: 200px;
    width: 55%;
    padding: 5%;
    background: linear-gradient(to top, white, rgb(255, 183, 52));
    box-shadow:8px 8px 2px rgba(0,0,0,0.5);
    border-radius: 30px;
    /* margin-right: 200px; */
}



.img2{  
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 75px;
    width: 30%;
    float: left;  
    border-radius: 30px;
    box-shadow:8px 8px 2px rgba(0,0,0,0.5);
    
}

.texte3{
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 0px; /*placer un écarttexte/image */
    /* max-width: 300px;
    margin-left: 1200px; /*position un texte/image */
    /* margin-top: 5%; */ 
    margin-top: 0px;
    flex-direction: column;
    margin-left: 20px;
    width: 55%;
    text-align:justify;
    padding: 2%;
    box-shadow:8px 8px 2px rgba(0,0,0,0.5);
    border-radius: 30px;
    flex:2;
    
}

.img3 {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    display: inline-block; 
    width: 30%;
    float: right;   
    border-radius: 30px;
    box-shadow:8px 8px 2px rgba(0,0,0,0.5);
    z-index: -3;

}

.texte4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin-right: 200px;
    width: 55%;
    padding: 5%;
    background: linear-gradient(to top, white, rgb(255, 183, 52));
    box-shadow:8px 8px 2px rgba(0,0,0,0.5);
    border-radius: 30px;
    /* margin-right: 200px; */
}

.texte4 .titre4
{
    padding-left: 250px;
    font-size: 50px;
}

.texte1 .titre1
{
    padding-left: 250px;
    font-size: 50px;
}
.texte2 .titre2
{
    padding-left: 200px;
    font-size: 50px;
}
.texte3 .titre3
{
    padding-left: 250px;
    font-size: 50px;
}






.img4{  
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 75px;
    width: 30%;
    float: left;  
    border-radius: 30px;
    box-shadow:8px 8px 2px rgba(0,0,0,0.5);
    
}

@media(max-width: 991px)
{
    section,
    header
    {
        padding: 40px;
    }
    header.sticky .logo
    {
        left: 40px;
    }
    nav ul
    {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    nav.active ul 
    {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100%- 80px);
        background: #FFB734;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    header.sticky nav ul
    {
        opacity: 1;
        visibility: visible;
    }
    header.sticky .toggle
    {
        position: fixed;
        top: 15px;
        right: 40px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: #fff url("../img/Menu_icon.png");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        
    }
    header.sticky .toggle.active
    {
        background: #fff url("../img/icone-fermer-et-x-noir.png");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        
    }

}