@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

html {
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
}

.home {
    width: 100%;
    height: 100vh;
    min-height: 200px;
    display: flex;
    justify-content: center;
}

.bloc {
    width: 200px;
    height: 50%;
    color: rgb(199, 0, 63);
    flex-shrink: 0;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute; top: 50px; left: 500px;
}

.menu {
    margin-top: auto;
    margin-bottom: auto;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #563838;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
}

header .scroll
{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 1s;
    text-decoration: none;
    z-index: 1;
    width: 10%;
}

header.sticky .scroll{
    opacity: 0;
}
header.sticky
{
    height: 80px;
}
header.sticky .banner
{
    opacity: 0;
}
header .banner
{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    
}
header .logo
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15vw;
    height: 80px;
    transition: 1s;
    text-decoration: none;
    z-index: 1;
    color: black;
    font-family: 'Source Sans Pro';
}

nav{
    position: relative;
    display: flex;
    font-family: 'Source Sans Pro';
    z-index: 1;
}

nav ul 
{
    position: relative;
    display: flex;
    transition: 0.25s;
    transform: translateX(100px);

}


nav ul li
{
    list-style: none;
}

nav ul li a 
{
    color: #fff;
    display: inline-block;
    padding:  10px 15px;
    font-size: 1.2em;
    text-decoration: none;

}

nav ul li a:hover
{
    color: #2B387B;
    text-decoration-line: underline;
    transition: 1s;
}
.box {
    display: flex;
}



body {
    width: 100%;
    color:black;
    background: color #333;;
    background-image: url("../images/font21.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
  }
.ligne {
    height: 2000px;
    width: 0px;
    margin: 0 auto;
    background: orange;
}

.creation1 {
    position: absolute; top: 600px; left: 100px;
    width: 800px;
    min-height: 100px;
    border-radius: 10px;
    padding: 15px;
    color: black;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 15px 25px rgba(42, 42, 42, 0.5);
    opacity: 0;
    transform: translateY(-30);
    animation: apparition 0.4s 1.6s ease-out forwards;
}

.num1{
    position: absolute; top: 600px; right: 100px;
    width: 400px;
    min-height: 200px;
    border-radius: 10px;
    padding: 15px;
    color: black;
    display: flex;
    justify-content: center;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 15px 25px rgba(42, 42, 42, 0.5);
    opacity: 0;
    transform: translateY(-30);
    animation: apparition 1s 1.6s ease-out forwards;
}



.creation2 {
    position: absolute; top: 1000px; right: 100px;
    width: 800px;
    min-height: 200px;
    border-radius: 10px;
    padding: 15px;
    color: black;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 15px 25px rgba(42, 42, 42, 0.5);
    opacity: 0;
    transform: translateY(-30);
    animation: apparition 1s 2.6s ease-out forwards;
}

.num2{
    position: absolute; top: 1000px; left: 100px;
    width: 380px;
    min-height: 200px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    color: black;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 5px 10px rgba(42, 42, 42, 0.5);
    opacity: 0;
    transform: translateY(-30);
    animation: apparition 1s 2.6s ease-out forwards;
}



.creation3 {
    position: absolute; top: 1400px; left: 100px;;
    width: 800px;
    min-height: 200px;
    border-radius: 10px;
    padding: 15px;
    color: black;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 15px 25px rgba(42, 42, 42, 0.5);
    opacity: 0;
    transform: translateY(-30);
    animation: apparition 1s 3.6s ease-out forwards;
}

.num3{
    position: absolute; top: 1400px; right: 100px;;
    width: 380px;
    min-height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 15px;
    color: black;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 5px 10px rgba(42, 42, 42, 0.5);
    opacity: 0;
    transform: translateY(-30);
    animation: apparition 1s 3.6s ease-out forwards;
}



.creation4 {
    position: absolute; top: 1800px; right: 100px;;
    width: 800px;
    min-height: 200px;
    border-radius: 10px;
    padding: 15px;
    color: black;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 15px 25px rgba(42, 42, 42, 0.5);
    opacity: 0;
    transform: translateY(-30);
    animation: apparition 1s 4.6s ease-out forwards;
}

.num4{
    position: absolute; top: 1800px; left: 100px;;
    width: 380px;
    min-height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 15px;
    color: black;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 5px 10px rgba(42, 42, 42, 0.5);
    opacity: 0;
    transform: translateY(-30);
    animation: apparition 1s 4.6s ease-out forwards;
}

.creation5 {
    position: absolute; top: 2200px; left: 100px;;
    width: 800px;
    min-height: 200px;
    border-radius: 10px;
    padding: 15px;
    color: black;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 15px 25px rgba(42, 42, 42, 0.5);
    opacity: 0;
    transform: translateY(-30);
    animation: apparition 1s 5.6s ease-out forwards;
}

.num5{
    position: absolute; top: 2200px; right: 100px;
    width: 380px;
    min-height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 15px;
    color: black;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 5px 10px rgba(42, 42, 42, 0.5);
    opacity: 0;
    transform: translateY(-30);
    animation: apparition 1s 5.6s ease-out forwards;
}




@keyframes apparition{
    100%{
        opacity: 1;
        transform: none;
    }
}

h1{
    color: black;
}

.bloc h1 {
    font-size: 70px;
    font-family: Source Sans Pro;
    font-weight: 200px;
    line-height: 1;
    margin-bottom: 20px;
  }
  
  .bloc h1 span {
    display: inline-block;
    opacity: 0;
    transform: translateY(-30px);
  }
  .bloc h1 > span:nth-child(1){
    animation: apparition 0.8s 0.2s ease-out forwards;
  }
  .bloc h1 > span:nth-child(2){
    animation: apparition 0.8s 0.4s ease-out forwards;
  }
  .bloc h1 > span:nth-child(3){
    animation: apparition 0.8s 0.6s ease-out forwards;
  }
